.buttonContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
}

@media (max-width: 768px) {
  .buttonContainer {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
}
