#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html {
  height: 100%;
}

@media (max-width: 992px) {
  #root {
    height: 100%;
    margin: 20px 0;
    padding: 20px;
  }
}
